@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/jpg" href="https://upload.wikimedia.org/wikipedia/commons/e/ee/.NET_Core_Logo.svg" />
    <title>Login Page</title>

    <!-- Custom fonts for this template-->

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/template/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/template/css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css" />

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script type="text/javascript" src="~/lib/jquery-validation/dist/jquery.validate.min.js" defer></script>
</head>


<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-4 col-lg-6 col-md-6">

                <div class="card border-0 shadow-lg my-5">
                    <div class="card-body ">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            @*<div class="col-lg-6 d-none d-lg-block"></div>*@
                            <div class="col-lg-12">
                                <div class="p-1">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-2">Welcome Back!</h1>
                                        <h2 class="h5 text-gray-900 mb-4 font-weight-bold">Login System Cashier</h2>
                                    </div>
                                    <form method="post" class="user needs-validation" novalidate id="formlogin">
                                        <div class="form-group group">
                                            <input type="email" class="form-control form-control-user"
                                                   id="email" aria-describedby="email"
                                                   placeholder="Enter Email Address" required>
                                            <div class="invalid-feedback">
                                                Email is still empty / does not match the format
                                            </div>
                                        </div>
                                        <div class="form-group group">
                                            <input type="password" class="form-control form-control-user"
                                                   id="password" placeholder="Password" required>
                                            <div class="invalid-feedback">
                                                Password is still empty / does not match the format
                                            </div>
                                        </div>

                                        <button type="button" class="btn btn-primary btn-user btn-block" id="btnlogin"> Login to System</button>

                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" data-toggle="modal" data-target="#exampleModal" href="javascript:void(0)">Forgot Password?</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Modal Insert And Update-->
    <div class="modal fade forgotmodal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="labelText">Forgot Password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="fCashier" class="needs-validation" novalidate>
                    <div class="modal-body">

                        <form>
                            <div class="form-group">
                                <label for="emailforgot">Email address</label>
                                <input type="email" class="form-control" id="emailforgot" aria-describedby="emailHelp" placeholder="Enter email">
                                <small id="emailHelp" class="form-text text-muted">
                                    We will send a new password to your active email
                                </small>
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="Forgotpassword()" id="btnforgot">Send New Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!-- Bootstrap core JavaScript-->
    <script src="~/template/vendor/jquery/jquery.min.js"></script>
    <script src="~/template/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/template/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/template/js/sb-admin-2.min.js"></script>


    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/account.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

</body>

</html>